* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 300; }

#logo {
  height: 84px; }
  #logo img {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 13%; }

article {
  text-align: center;
  background-color: #215398;
  min-height: 466px;
  color: white; }
  article .article-title {
    padding-top: 49px;
    font-size: 40px;
    line-height: 52px; }
  article .article-text {
    padding-top: 5px;
    font-size: 20px;
    line-height: 32px; }
  article .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px; }
    article .wrapper .carousel {
      width: 90%;
      margin: 20px; }
      article .wrapper .carousel .slick-next {
        right: -23px; }
      article .wrapper .carousel .box {
        height: 228px;
        width: 90% !important;
        background-color: white; }
    article .wrapper .article-title-box {
      font-size: 20px;
      line-height: 23.7px;
      padding-top: 36.3px;
      color: #2D3236;
      width: auto; }
    article .wrapper .article-text-box {
      font-size: 15px;
      line-height: 24px;
      color: #808080;
      margin-top: 12px; }
    article .wrapper i {
      color: #BABFC6;
      font-size: 42px;
      margin-top: 12px; }
  article .box-two {
    padding: 5px; }
  article .box-three {
    width: 277px;
    margin: auto; }

article.second {
  background-color: #F1F6FC;
  min-height: 600px; }
  article.second .article-title {
    color: #2D3236; }
  article.second .article-text-box {
    color: #2D3236; }
  article.second h2 {
    font-size: 30px;
    margin-top: 36px;
    margin-bottom: 24px; }
  article.second .box {
    margin-bottom: 72px;
    height: 228px;
    width: 332px;
    margin: 20px;
    background-color: white; }

.second-title::before {
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FF3859;
  position: absolute;
  transform: translate(180%, -200%); }

.new-text {
  display: block; }

@media all and (max-width: 700px) {
  .article-text-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }
